POSTGRES_USER= # Postgres username, e.g. 'pg_user'
POSTGRES_PASSWORD= # Password for the Postgres user, e.g. 'pg_password'
POSTGRES_DB_NAME= # Name of the application Postgres database, e.g. 'app_db'
POSTGRES_HOST= # Hostname for the Postgres server, e.g. 'localhost' or '127.0.0.1'
POSTGRES_PORT= # Host port for the Postgres server, e.g. '5432' or '5434' to avoid conflicts with local Postgres instances