DATA_DIR= # Directory for storing application data, e.g. 'data'
FILE_NAME_BLCHANGE= # Filename for the baseline change data, e.g. 'All_Subjects_BLCHANGE_11Mar2026.csv'
FILE_NAME_DATADIC= # Filename for the data dictionary, e.g. 'Data_Dictionary_11Mar2026.csv'
FILE_NAME_DXSUM= # Filename for the diagnosis summary data, e.g. 'All_Subjects_DXSUM_11Mar2026.csv'
FILE_NAME_PTDEMOG= # Filename for the patient demographics data, e.g. 'All_Subjects_PTDEMOG_11Mar2026.csv'
FILE_NAME_STUDY_MANIFEST= # Filename for the study manifest data, e.g. 'T1w_MRI_Cohort_Study_Manifest_12Feb2026.csv'
FILE_NAME_STUDY_ENTRY= # Filename for the study entry data, e.g. 'All_Subjects_Study_Entry_11Mar2026.csv'
POSTGRES_USER= # Postgres username, e.g. 'pg_user'
POSTGRES_PASSWORD= # Password for the Postgres user, e.g. 'pg_password'
POSTGRES_DB_NAME= # Name of the application Postgres database, e.g. 'app_db'
POSTGRES_HOST= # Hostname for the Postgres server, e.g. 'localhost' or '127.0.0.1'
POSTGRES_PORT= # Host port for the Postgres server, e.g. '5432' or '5434' to avoid conflicts with local Postgres instances
